.contact-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-page h3 {
  margin: 0;
  padding: 0;
}

.contact-page p {
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

.contact-page ul,
.contact-page li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-page a {
  color: #000;
  text-decoration: none;
}

/** */

.contact-page__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
      grid-template-areas: "title-call" "phones" "soc" "title-address" "address" "mails";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-page__contacts * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-page__contacts-title-call {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title-call;
}

.contact-page__contacts-phones {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phones;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.contact-page__contacts-soc {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: soc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px !important;
}

.contact-page__contacts-soc li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 5px;
}

.contact-page__contacts-soc a {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0px;
  border-radius: 2px;
  overflow: hidden;
}

.contact-page__contacts-title-address {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: title-address;
}

.contact-page__contacts-address {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: address;
}

.contact-page__contacts-mails {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: mails;
}

/** */

.contact-page__info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: #f5f8fc url("../img/icon_attention.png") 0 0 no-repeat;
  background-size: 100px 100px;
  padding: 35px 30px 15px 45px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/** */

.contact-page__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

/** */

#google-map {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .contact-page__contacts {
        grid-template-areas: "title-call title-address" "phones address" "soc mails";
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 15px 1fr 15px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .contact-page__contacts-title-call {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact-page__contacts-phones {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-page__contacts-soc {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact-page__contacts-title-address {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .contact-page__contacts-address {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .contact-page__contacts-mails {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}

@media (min-width: 992px) {
  .contact-page {
    -ms-grid-columns: 1fr 35%;
    grid-template-columns: 1fr 35%;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  .contact-page__contacts {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
        grid-template-areas: "title-call title-address" "phones address" "soc mails";
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    margin-left: 25px;
  }

  .contact-page__info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-left: 10px;
  }

  .contact-page__image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }

  .contact-page__contacts-title-call {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .contact-page__contacts-phones {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .contact-page__contacts-soc {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .contact-page__contacts-title-address {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .contact-page__contacts-address {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .contact-page__contacts-mails {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media (min-width: 1200px) {
  .contact-page__contacts {
    grid-column-gap: 30%;
  }

  #google-map {
    margin-top: 25px;
  }
}